<%= form_with url: "/bookings/new", method: "GET", scope: :selected_flight do |form| %>
    <% @matching_flights.each do |flight| %>
        <p>
            <strong>From:</strong> <%= flight.from_airport.name %>  
            <strong>To:</strong> <%= flight.to_airport.name %>  
            <strong>Departure:</strong> <%= flight.departure_time_date_and_time %>
            <strong>Duration:</strong> <%= flight.duration %> minutes

            <%= radio_button_tag :flight_id, flight.id %>
            <%= hidden_field :selected_flight, params[:search][:number_of_passengers] %>
        </p>

    <% end %>

    <%= form.submit "Choose this flight" %>
<% end %>