<%= form_with url: "/bookings/new", method: "GET", scope: :selected_flight, local: true do |form| %>
    <% @matching_flights.each do |flight| %>
        <p>
            <strong>From:</strong> <%= flight.from_airport.name %>  
            <strong>To:</strong> <%= flight.to_airport.name %>  
            <strong>Departure:</strong> <%= flight.departure_time_date_and_time %>
            <strong>Duration:</strong> <%= flight.duration %> minutes

            <%= form.radio_button :flight_id, flight.id %>
            <%= form.hidden_field :number_of_passengers, value: params[:search][:number_of_passengers] %>
        </p>

    <% end %>

    <%= form.submit "Choose this flight" %>
<% end %>